<div class="footer">
    <footer class="py-3 my-4 border-top d-flex justify-content-center align-items-center">
        <ul class="nav list-unstyled">
            <li class="ms-3">
                <p>2023 | @Developed by Douglas Vidal | vidaldl01@gmail.com</p>
            </li>
            <li class="ms-3">
                <a href="https://www.github.com/douglvv" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="https://www.linkedin.com/in/douglvv/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>